openapi: 3.0.0
info:
  title: openweathermap
  version: '1.0'
  description: |-
    OpenWeatherMap API version: 2.5 <br/><br/>
    API description: Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. <br/><br/>

    **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/>**Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  weather:
    parameters: []
    get:
      summary: Get User Info by User ID
      tags:
        - current weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  coord:
                    type: object
                    description: ''
                    required:
                      - lon
                      - lat
                    properties:
                      lon:
                        type: number
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        description: 'City geo location, latitude'
                  weather:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Weather condition id
                        main:
                          type: string
                          minLength: 1
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)  '
                        description:
                          type: string
                          minLength: 1
                          description: 'Weather condition within the group. You can get the output in your language. [Learn more](https://openweathermap.org/current#multi)'
                        icon:
                          type: string
                          minLength: 1
                          description: Weather icon id
                      required:
                        - id
                        - main
                        - description
                        - icon
                  base:
                    type: string
                    minLength: 1
                    description: |2-

































                       Internal parameter
                  main:
                    type: object
                    required:
                      - temp
                      - feels_like
                      - temp_min
                      - temp_max
                      - pressure
                      - humidity
                    properties:
                      temp:
                        type: number
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      feels_like:
                        type: number
                        description: 'Temperature. This temperature parameter accounts for the human perception of weather. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      temp_min:
                        type: number
                        description: 'Minimum temperature at the moment. This is minimal currently observed temperature (within large megalopolises and urban areas). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      temp_max:
                        type: number
                        description: 'Maximum temperature at the moment. This is maximal currently observed temperature (within large megalopolises and urban areas). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      pressure:
                        type: number
                        description: 'Atmospheric pressure (on the sea level, if there is no `sea_level` or `grnd_level` data), hPa'
                      humidity:
                        type: number
                        description: 'Humidity, %'
                  visibility:
                    type: number
                    description: 'Visibility, m'
                  wind:
                    type: object
                    required:
                      - speed
                      - deg
                    properties:
                      speed:
                        type: number
                        description: 'Wind speed, m/s'
                      deg:
                        type: number
                        description: 'Wind direction, degrees (meteorological)'
                  clouds:
                    type: object
                    required:
                      - all
                    properties:
                      all:
                        type: number
                        description: Cloudiness
                  dt:
                    type: number
                    description: 'Time of data calculation, unix, UTC'
                  sys:
                    type: object
                    required:
                      - type
                      - id
                      - message
                      - country
                      - sunrise
                      - sunset
                    properties:
                      type:
                        type: number
                        description: Internal parameter
                      id:
                        type: number
                        description: Internal parameter
                      message:
                        type: number
                        description: Internal parameter
                      country:
                        type: string
                        minLength: 1
                        description: 'Country code (GB, JP etc.)'
                      sunrise:
                        type: number
                        description: 'Sunrise time, unix, UTC'
                      sunset:
                        type: number
                        description: 'Sunset time, unix, UTC'
                  timezone:
                    type: number
                    description: Shift in seconds from UTC
                  id:
                    type: number
                    description: City ID
                  name:
                    type: string
                    minLength: 1
                    description: City name
                  cod:
                    type: number
                    description: Internal parameter
                  rain:
                    type: object
                    properties:
                      1h:
                        type: number
                        description: 'Rain volume for the last 1 hour, mm  '
                      3h:
                        type: number
                        description: 'Rain volume for the last 3 hours, mm'
                required:
                  - coord
                  - weather
                  - base
                  - main
                  - visibility
                  - wind
                  - clouds
                  - dt
                  - sys
                  - timezone
                  - id
                  - name
                  - cod
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_response'
      operationId: get-weather-by-city
      description: 'You can call by city name or city name, state code and country code. Please note that searching by states available only for the USA locations.'
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: 'City name, state code and country code divided by comma, use ISO 3166 country codes.<br/> You can specify the parameter not only in English. In this case, the API response should be returned in the same language as the language of requested location name if the location is in our predefined list of more than 200,000 locations.'
          required: true
        - schema:
            type: string
          in: query
          name: appid
          description: 'Your unique API key (you can always find it on your account page under the ["API key" tab](https://home.openweathermap.org/api_keys))'
          required: true
        - schema:
            type: string
          in: query
          name: mode
          description: 'Response format. Possible values are `xml` and `html`. If you don''t use the `mode` parameter format is JSON by default. [Learn more](https://openweathermap.org/current#format)'
components:
  schemas:
    unauthorized_response:
      title: unauthorized_response
      type: object
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
tags:
  - name: current weather endpoints
security:
  - app_id: []
